<cdk-virtual-scroll-viewport role="list" itemSize="50" class="scroll-viewport">
    <div *cdkVirtualFor="let item of list"
         role="listitem"
         class="scroll-item"
         routerLinkActive="selected-item">
        <a [routerLink]="['/infections', item.id]">
            <att-datetime-text [datetime]="item.datetime"></att-datetime-text>
        </a>
    </div>
</cdk-virtual-scroll-viewport>