:host {
  display: block;
  height: 100%;
}

.scroll-viewport {
  display: block;
  width: 20rem;
  height: 100%;
}

.scroll-item {
  font-size: 1rem;
  padding: 0 1rem;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
}

.selected-item {
  background: #1779ba;
  color: #fff;

  a {
    color: inherit;
  }
}