<div class="grid-y grid-frame">
    <div class="shrink cell">
        <div class="top-bar">
            <div class="top-bar-left"><h1 class="top-bar-title">{{userName}}</h1></div>
            <div class="top-bar-right">
                Potential infections: {{countInfections}}
            </div>
        </div>
    </div>
    <div class="auto cell">
        <div class="grid-x grid-frame" style="height: 100%;">
            <div class="shrink cell">
                <div class="infection-list-container">
                    <div class="grid-y grid-frame">
                        <div class="shrink cell">
                            <h5 class="list-title">Potential Infections</h5>
                        </div>
                        <div class="auto cell">
                            <att-infection-list style="display: block" [userId]="userId"></att-infection-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auto cell">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>