<ng-container *ngIf="details!==null">
    <div>
        <att-datetime-text [datetime]="details.datetime"></att-datetime-text>
    </div>
    <div>
        Lon: {{details.lon}}
    </div>
    <div>
        Lat: {{details.lat}}
    </div>
</ng-container>